body {
    width: 960px;
   height: 1100px;
    margin: auto;
 }

#content {
    width: 93%;
    max-height: 100%;
    border: 35px double #9AF5DA;
    border-radius: 15% 15%;
    padding: 0;
}

.address {
    font: bold 1.1em 'EB Garamond', serif;
    border-bottom: 2px dotted #E8E6E6;
   border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    text-align: center;
    margin: 2% 0 2% 0;
    padding: 0;
 }

/* contact email should be underlined - Niba */

#email { 
    text-decoration: underline;
    color: #073FF5;
    text-transform: lowercase;
}

#visit {
    text-decoration: underline;
    color: #073FF5;
    }


.address a {
    text-decoration: none;
    color: #050505;
}

.menu {
    font: bolder 2em 'EB Garamond', serif;
    text-align: center;
    padding: 0;
   
}

/* menu-section should be center aligned  - Niba */

h3{
    font: normal 1.3em 'EB Garamond', serif;
    text-align: center;
    padding: 0;
    
    }
    
/* menu-item-price should float right - Niba */ 

.menu-item-price {
    float: right;
    margin-right: 10%;
    font-size: 1em;
    padding: 0;
     }


.description {
    font: normal 1em 'EB Garamond', serif;
    text-align: left;
    margin-left: 11%;
    padding: 0;
}

/* item-name font should be cursive - Niba */

.item-name {
    font: bold 1em 'Lobster', cursive;
    text-align: left;
    margin-left: 10%;
    padding: 0;
}




/* menu footer as navigation bar --- Niba 

.menu-footer ul { 
        list-style: none;
        text-align: center;
        padding: 0px;
        margin: 0;
 
    }

 .menu-footer li {
      font-family: 'EB Garamond', serif;
      font-size: 25px;
      font-weight: bold;
      line-height: 30px;
      height: 50px;
      width: 20%;
      margin: 60px 0 0 80px;
     display: inline-block;
     border-top: 5px dotted #E8E6E6;
       border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    
    }
    
    .menu-footer a {
      text-decoration: none;
      color: #E600AC ;
    }
    
    .menu-footer a:hover {
      background-color: #9AF5DA; 
    }

--- menu footer as navigation bar not needed - Niba */